# Python Basic Assignment 2

In [2]:
# Q1. Write a Python program to convert kilometers to miles?
x= int(input("Enter number of Kilometers to be converted to miles: "))
print(x, " Kilometers is equal to ", x/1.609, "miles")

Enter number of Kilometers to be converted to miles: 10
10  Kilometers is equal to  6.215040397762586 miles

In [4]:
# Q2 Write a Python program to convert Celsius to Fahrenheit?
x= int(input("Enter Temperature in Celsius to be converted to Fahrenheit: "))
print(x, " Celsius is equal to ", (x*9/5)+32, "Fahrenheit")

Enter Temperature in Celsius to be converted to Fahrenheit: 1
1  Celsius is equal to  33.8 Fahrenheit

In [21]:
# Q3. Write a Python program to display calendar?
import calendar
yy = int(input("Enter year: "))

for i in range(1,13):
    print(calendar.month(yy,i))

Enter year: 2025
    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [32]:
# Q4. Write a Python program to solve quadratic equation?
import cmath
print("Quadritic Equation: ax^2+bx+c")
a= int(input("Enter a:"))
b= int(input("Enter b:"))
c= int(input("Enter c:"))
root1 = (-b + cmath.sqrt(b**2- 4*a*c))/ (2*a)
root2 = (-b - cmath.sqrt(b**2- 4*a*c))/ (2*a)

print("Root 1:", root1)
print("Root 2:", root2)

Quadritic Equation: ax^2+bx+c
Enter a:1
Enter b:1
Enter c:1
Root 1: (-0.5+0.8660254037844386j)
Root 2: (-0.5-0.8660254037844386j)

In [33]:
#Q5 Write a Python program to swap two variables without temp variable?
x="Aakash"
y="Goyal"

In [36]:
print(x,y)

Aakash Goyal

In [37]:
x,y= y,x

In [38]:
print(x,y)

Goyal Aakash